.header{
	color: #fff;
	display: flex;
	justify-content: center;
	margin-bottom: 50px;
}

.header-link{
	color: #fff;
	font-size: 28px;
	text-decoration: none;
	color: #000;
	margin-right: 50px;
	
	p{
		text-align: center;
		color: #fff;
		transition: all 0.3s linear ;
		border-bottom: 1px inherit;
	}
	
}

.header-link:hover{
	p{
		opacity: 0.8;

		border-bottom: 1px solid #fff;
	}
	
}
.header-link:last-child{
	margin-right: 0;
}