*{
	box-sizing: border-box;
}
body {
	background: url('https://img.freepik.com/free-vector/halftone-background-with-circles_23-2148907689.jpg?w=996&t=st=1682512054~exp=1682512654~hmac=676500b4e8a2f5eb25fe41aa78310b1d0a611507b139972449e690633a7bf01f  ')no-repeat center center fixed;
		color: #d4dfdf;
  margin: 0;
	
	background-size: cover;
	text-align: center;
	width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
